body{
  background-color: #C8F2EF;
}
hr{

  border-style:none;
  border-top-style: dotted;
  border-color: #3E497A;

  border-width: 7px;
  width: 90%
}
h1{
  color: #3E497A;
}
h2{
  color: #3E497A;
}

h3{
  color: #3E497A;
}
h4{
  color: #3E497A;
}
h5{
  color: #3E497A;
}
h6{
  color: #3E497A;
}
